<section class="bestsellers">
  <div class="bestsellers-left">
    <p class="bestsellers-description">Buy 1, Get 1 50% Off <br> Need inspiration on what to read this month? Discover the best picks of the month from the book experts !</p>
  </div>
  <div class="bestsellers-right">
    <h2 class="section-title">Bestsellers</h2>
    <div class="bestsellers-grid">
      <div class="bestseller-card">
        <img  src="book1.jpg" alt="Book 1">
        <h3 class="book-title">Book 1 Title</h3>
        <p class="book-price">$19.99</p>
      </div>
      <div class="bestseller-card">
        <img src="book2.jpg" alt="Book 2">
        <h3 class="book-title">Book 2 Title</h3>
        <p class="book-price">$24.99</p>
      </div>
      <div class="bestseller-card">
        <img src="book3.jpg" alt="Book 3">
        <h3 class="book-title">Book 3 Title</h3>
        <p class="book-price">$16.99</p>
      </div>
    </div>
    <a href="#" class="see-all-link">See All</a>
  </div>
</section>
