<header>
  <div class="container">
    <nav class="top">
      <img src="images/logo.png" alt="logo" class="logo">
      <a href="#" class="signup-btn btn">Start Free Trial</a>
    </nav>

    <section class="hero">
      <section class="left">
        <h1>Build The Community Your Fans Will Love</h1>
        <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. </p>
          <a href="#" class="get-started btn">Get Started</a>
      </section>

      <section class="right">
        <img src="images/hero-section-illustration.svg" alt="hero section illustration">
      </section> 
    </section>      
  </div>
</header> 