<div class=“nav”>

  <a class="brand" href="#"><img
      src="../imgs/GDES_221_SPRING2023_PERSOLOGO_FINAL_MAGDALENA_IDZIKOWSKA-BUSINESS-PACAGE-19.png" alt="Logo"></a>


      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>


    <div class=“nav-links”>
      <ul>
        <!-- <!–menu Item–> -->
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
          <!-- <!–Social Icon–> -->

      </ul>
    </div>
</div>