<section class="new-books">
  <h2>New Books</h2>
  <div class="book-list">
    <div class="book">
      <img src="book-1.jpg" alt="Book 1">
      <div class="book-details">
        <h3>Book 1 Title</h3>
        <h4>by Author 1</h4>
        <p class="book-review">This book is amazing!</p>
      </div>
    </div>
    <div class="book">
      <img src="book-2.jpg" alt="Book 2">
      <div class="book-details">
        <h3>Book 2 Title</h3>
        <h4>by Author 2</h4>
        <p class="book-review">This book is a must-read.</p>
      </div>
    </div>
    <!-- More books here... -->
  </div>
</section>
