

<div class="product-details">
  <h2>Product Name</h2>
  <div class="product-image">
    <img src="product-image.jpg" alt="Product Image">
  </div>
  <div class="product-info">
    <h3>Product Description</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod leo vel ullamcorper consequat. Suspendisse malesuada ex sit amet odio volutpat commodo.</p>
    <ul class="product-details-list">
      <li><svg>...</svg>Product Detail 1</li>
      <li><svg>...</svg>Product Detail 2</li>
      <li><svg>...</svg>Product Detail 3</li>
    </ul>
    <div class="product-actions">
      <button class="add-to-cart-btn">Add to Cart</button>
      <button>Buy Now</button>
    </div>
  </div>
</div>
