<div class="product-card">
  <img class="product-image" src="product-image.jpg" alt="Product Image">
  <div class="product-details">
    <h2 class="product-name">Product Name</h2>
    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim quis mauris vehicula blandit. Nam vel elementum velit.</p>
    <div class="product-colors">
      <h3>Choose Color:</h3>
      <div class="color-option" data-color="red"></div>
      <div class="color-option" data-color="blue"></div>
      <div class="color-option" data-color="green"></div>
    </div>
    <div class="product-price">$29.99</div>
    <button class="add-to-cart">Add to Cart</button>
  </div>
</div>
