<section class="product-collections">
  <div class="collection">
    <a href="#">
      <img src="collection1.jpg" alt="Collection 1">
      <h3 class="collection-title">Collection 1</h3>
    </a>
  </div>
  <div class="collection">
    <a href="#">
      <img src="collection2.jpg" alt="Collection 2">
      <h3 class="collection-title">Collection 2</h3>
    </a>
  </div>
  <div class="collection">
    <a href="#">
      <img src="collection3.jpg" alt="Collection 3">
      <h3 class="collection-title">Collection 3</h3>
    </a>
  </div>
</section>
