/* Error: expected "+", "-", "*", "/", or ")".
 *     ,
 * 216 |     height: calc(100vh – 50px);
 *     |                        ^
 *     '
 *   src/components/_nav-bar-wit-img.scss 216:24  @import
 *   src/style.scss 10:9                          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "+", "-", "*", "/", or ")".\a     \2577 \a 216 \2502      height: calc(100vh \2013  50px);\a     \2502                         ^\a     \2575 \a   src/components/_nav-bar-wit-img.scss 216:24  @import\a   src/style.scss 10:9                          root stylesheet';
}
