.customer-support {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 40px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
  }

  .support-info {
    text-align: center;
    margin-right: 30px;

    @media only screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }

  .support-options {
    display: flex;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .support-option {
      display: flex;
      align-items: center;
      margin-right: 30px;

      @media only screen and (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 20px;
      }

      i {
        font-size: 24px;
        margin-right: 10px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
      }
    }
  }
}
