/* Footer Styles */

footer {
  background-color: #f7f7f7;
  padding: 50px 0;
  font-family: 'Open Sans', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-signup {
  max-width: 400px;
  margin-left: 20px; 
}

.footer-signup h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 20px; 
}

.footer-signup p {
  font-size: 16px;
  margin-bottom: 20px;
}

footer form {
  display: flex;
}

footer label {
  display: none;
}

footer input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

footer button[type="submit"] {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.footer-links h3,
.footer-social h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-right: 20px; 
}

.footer-links ul,
.footer-social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-links li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.footer-credits {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-signup {
    margin-bottom: 30px;
    max-width: 100%;
  }
}
