.container {
  width: 1200px; 
  max-width: 90%;  
  margin: 0 auto; 
}

.btn {
  background-color: hsl(40, 87%, 57%);
  border: 0; 
  outline: none; 
  padding: 15px 50px; 
  border-radius: 10rem; 
  color: #fff; 
  font-weight: bold; 
  font-family: "open sans";
  font-size: 1.1rem; 
  cursor: pointer;
  transition: 0.3s all ease;
  text-decoration: none;
}
header {
  background: url("../../public/imgs/music-festival-for\ hero.jpeg") hsl(193, 100%, 96%);  
}

nav {
  padding: 50px 0 50px 0;   
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

nav img {
  width: 50px;  
}

.signup-btn {
  background-color: #dd7c04; 
  color: #00252e; 
}
.signup-btn:hover{
  background-color: rgb(208, 112, 3);
  color: #fff;
}
.hero {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding-bottom: 70px;  
}

.hero .left {
  width: 100%; 
}

.hero h1 {
  font-size: 2.5rem; 
  color: hsl(0, 0%, 98%);   
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem; 
  line-height: 1.5; 
  margin-bottom: 30px;
  color: white;
}
.hero .get-started:hover{
  background-color: rgb(230, 93, 8);
}
.hero .right {
  width: 50%;  
}

.hero img {
  width: 100%; 
  max-width: 532px;
}

@media screen and (max-width: 1000px) {

  .container {
      max-width: 80%; 
  }

  /* nav mobile styles */
  nav img {
      width: 150px; 
  }

  .signup-btn {
      padding: 10px 20px;  
  }

  .btn {
      font-size: .9rem; 
  }
  .hero {
      flex-direction: column; 
  }

  .hero .left {
      width: 100%; 
      text-align: center; 
      padding-bottom: 40px;  
  }    

  .hero h1 {
      font-size: 1.8rem; 
  }

  .hero p {
      font-size: 1rem; 
  }

  .hero .get-started {
      width: 80%; 
  }

  .hero .right {
      width: 100%;  
  }
}