.product-collections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;

  .collection {
    width: calc(33.33% - 30px);
    margin: 15px;

    a {
      display: block;
      text-align: center;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .collection-title {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        transition: color 0.3s ease;

        &:hover {
          color: #f90;
        }
      }
    }
  }
}
