// Variables for common styles
$border-color: #ddd;
$font-size: 16px;

// Style for the product section
#products {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px; 
  }

  .product {
    border: 1px solid $border-color;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 20px; 

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    h3 {
      font-size: $font-size;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: $font-size;
      margin-bottom: 10px;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}
@media (max-width: 768px) {
  #products {
    .product {
      width: 100%;

      img {
        max-width: 50%;
      }
    }
  }
}
