@import './reset';
@import './variable';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
@import './components/navigation3';
// @import './components/navigation-with-search';
@import './components/breadcrumbs';
@import './components/container-with-two-cards';
@import './components/container';
@import './components/product-card';
@import './components/product-card-left-right';
// @import './components/nav-bar-wit-simg';
@import './components/hero';
// @import './components/hero-ecom';
@import './components/footer-sign-up';
@import './components/product-banner';
@import './components/product-section';
@import './components/best-seller-section';
// @import './components/article-section-aside';
@import './components/product-collection';
@import './components/shipping-details.scss';
@import './components/reviews';
// @import './components/price-filter';
// @import './components/sort';
// @import './components/shipping-info';
@import './components/customer-support';
// @import './components/checkout-proccess';
// @import './components/product-card-with-color-range';
// @import './components/product-card-like-bn';
@import './components/product_details';
@import './components/product-card-left-right';
@import './components/image-gallery';
@import './components/gallery';
@import './components/sponsors';
// @import '../public/components/product-gallery.html';



// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

html, body {
  // height: 100%;
  $body-font-family: 'Open Sans', sans-serif;
  // background-image: url("../public/");
}

// /* Global Container Styles */
.container {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 20px;
  margin-left: 20px; 
}

/* Global Section Styles */
section {
  // padding: 10px;
  margin-left: 20px; 
}

/* Global Article Styles */
article {
  margin-bottom: 20px;
  margin-left: 20px; 
  
}

